<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
        <div align="center" >
            <h1>Welcome as an admin</h1>
            <a href="dashboard/products" class="btn btn-info">
                    Catalog
            </a>
            <div>

            </div>
            <br><a href="dashboard/admins" class="btn btn-info">
                Admins
            </a>
            <div>

            </div>
            <br><a href="dashboard/companies" class="btn btn-info">
                Companies
            </a>
            <div>

            </div>
            <br><a href="dashboard/categories" class="btn btn-info">
                Categories
            </a>
            <div>

            </div>
            <br><a href="/admin/logout" class="btn btn-primary">Logout</a>
        </div>
</body>
</html>