<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in as admin</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<center>
    <h1>Welcome to Admin Security</h1>

    <form method="POST" action="/admin/login">

        <input type="text" name="username" value="Ivan"/><br><br>


        <input type="password" name="password" value="pro90"/><br><br>


        <button type="submit" class="btn btn-info col-2">Log in</button>
    </form>
</center>
</body>
</html>