<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>

<div align="center">
        <h1>Welcome</h1>
            <h3>In our business web application you will manage your sales better!</h3>
            <h3>See all offered products and real-time statistics.</h3>
            <h3>Log in as administrator,saling company or customer!</h3>

    <a href="/admin/" class="btn btn-info">
            Admin Login
    </a>

</div>
</body>
</html>