<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products Managing</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Products Managing</h1>
    <hr>
    <h2>Save product</h2>

    <form action="#" th:action="@{showFormForUpdateProduct/saveProduct}" th:object = "${products}" method="post">
        <input type="text", th:field = "*{productName}"
               placeholder="Product Name" class="form-control mb-4 col-4">

        <input type="text", th:field = "*{productCountry}"
               placeholder="Made in" class="form-control mb-4 col-4">

        <input type="number" step="0.01" , th:field = "*{productPrice}"
               placeholder="Product Price" class="form-control mb-4 col-4">

        <input type="number", th:field = "*{productAmount}"
               placeholder="Product Amount" class="form-control mb-4 col-4">

        <div class="form-group row">
            <label class="form-control mb-4 col-4">Choose Category</label>
            <div class="col-sm-8">
                <select th:field = "*{productCategory}" class="form-control" required>
                    <th:block th:each = "cat:${listOfCategories}">
                        <option th:text = "${cat.categoryName}" th:value = "${cat.categoryId}"/>
                    </th:block>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control mb-4 col-4">Choose Company</label>
            <div class="col-sm-8">
                <select th:field = "*{companies}" class="form-control" required>
                    <th:block th:each = "company:${listOfCompanies}">
                        <option th:text = "${company.name}" th:value = "${company.id}"/>
                    </th:block>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-info col-2">Save Product</button>

    </form>

    <hr>

    <a th:href = "@{admin/dashboard/products}"> Back to Products List</a>
</div>
</body>
</html>